// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar .fa {
    padding: 40px;
}

.button {
    width:136;
    height:48;

    &.text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-transform: none;
        text-align: center;
        color: #ffffff;
    }

    &.border-props {
        color:#fe5000;
        border-width: 2;
        font-weight: bold;
        text-transform: none;
        border-color:#fe5000;
    }

}

